body{
    background-color:#ffc93c ;
}

.logo{
    max-width: 20%;
    text-align: center;
    margin: 1% auto auto;
}

h3{
    font-family: sans-serif;
    font-size: 15px;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
}

.inputContainer{
    display:flex;
    justify-content: center;
}

.input{
    text-align: center;
    width: 250px;
    margin:auto;
    border-radius:20px;
    border: 1px solid black;
    height: 30px;
    position:absolute;
}

.input::placeholder{
    font-size: 15px;
}

.lupa{
    max-width: 5%;
    position:relative;
    left:19%;
    margin-top:0.7%;

}

.lupa:hover{
    transform: translateY(1px);

}

.pokemonContainer{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    gap:15px;
    max-width: 1200px;
    margin:auto;
    margin-top:30px;

}

.pokemonContainer > img{
    width:200px;
}